.sections {
    margin-top: 40px;
}
.height1{
    height: 50px;
}

#warning {
    display: grid;
    background-color: burlywood;
    padding: 0.5em;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(7, 1fr);
}
/* Fixed-width grid tracks */
#grid1 {
    display: grid;
    height: 500px;
    border: 2px solid black;
    grid-template-columns: [start col-a] 200px [col-b] 50% [col-c] 100px [stop end last];
    grid-template-rows: [start masthead] 3em [content] minmax(3em, 100%) [footer] 2em [stop end];
}


#grid2 {
    display: grid;
    height: 500px;
    border: 2px solid black;
    grid-template-columns: 1fr 2fr 1fr 10%;
}

#grid1 .one{
    background-color: bisque;
}
#grid1 .two{
    background-color: rgb(255, 205, 144);
}
#grid1 .three{
    background-color: bisque;
}

/* Content-aware track */
#gallery {
    display: grid;
    grid-template-columns: max-content max-content max-content max-content;
    grid-template-rows: max-content max-content max-content;
}
#gallery img {
    height: 200px;
    padding: 10px;
}

#g1 {
    display: grid;
    grid-template-columns: max-content max-content max-content;
}
#g2 {
    display: grid;
    grid-template-columns: minmax(0, max-content) minmax(0, max-content) minmax(0, max-content);
}

#grid3 {
    display: grid;
    grid-template-columns: repeat(3, 2em 1fr 1fr) 2em;
}
.grid3-item {
    height: 40px;
}

#grid4 {
    display: grid;
    grid-template-columns: repeat(4, 10px [col-tart] 250px [col-end]) 10px;
}

#grid5 {
    display: grid;
    grid-template-rows: repeat(auto-fill, [top] 5em [bottom]);
    grid-template-columns: repeat(auto-fit, 80px);
}

#grid6 {
    display: grid;
    gap: 18px;
    grid-template-areas: 
                "header header header header"
                "leftside content content rightside"
                "leftside footer footer footer";
}
.header6 {
    height: 60px;
    background: burlywood;
    grid-row-start: header;
    grid-column-start: header;
    grid-row-end: header;
    grid-column-end: header;
}
.leftside6 {
    background: rgb(95, 96, 160);
    grid-row-start: leftside;
    grid-row-end: leftside;
    grid-column-start: leftside;
    
}
.content6 {
    height: 500px;
    background: rgb(176, 145, 181);
    grid-row-start: content;
    grid-row-end: content;
    grid-column-start: content;
    grid-column-end: content;
}
.rightside6 {
    background: rgb(160, 95, 118);
    grid-row-start: rightside;
    grid-column-start: rightside;
    grid-row-end: rightside;
}
.footer6 {
    height: 60px;
    background: rgb(79, 79, 79);
    grid-row-start: footer;
    grid-row-end: footer;
    grid-column-start: footer;
    grid-column-end: footer;
}